html,body{
  font-family:'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height:100%;
  margin:0;
  padding:0;
  background-color:white;
  vertical-align:baseline;
}

#wrapper{
  position:relative;
  min-height:100%;
  margin:0;
  padding:0;
}

.notice,.alert{
  margin:0;
}

#header{
  position:fixed;
  top:0;
  width:100%;
  height:65px;
  margin:0;
  background-color:white;
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.15);
}

.header_title{
  display:block;
  height:50px;
  margin:0;
  float:left;
}

.header_title > h1{
  margin:16px 0 16px 20px;
  font-size:28px;
  font-family:georgia;
}

.header_title > h1 >a{
  text-decoration:none;
  color:black;
}

.header_title > h1 >a:hover{
  color:silver;
}

.header_nav{
  display:block;
  height:50px;
  margin:0;
  float:right;
}

.header_nav > ul{
  margin:0 40px 0 0;
  height:65px;
  list-style:none;
}

.header_nav > ul >li{
  float:left;
  margin-left:30px;
}

.header_nav > ul> li >a{
  display:inline-block;
  padding:14px 0 16px 0;
  border-top:solid 3px white;
  color:black;
  text-decoration:none;
  text-align:center;
}

.header_nav >ul >li >a:hover{
  border-top:solid 3px gray;
  color:silver;
}

#article{
  margin:0;
  padding-bottom:122px;
}

/* ヘッダー画像 */ 

#image{
  width:100%;
  margin:0 0 20px 0;
}

.topimg { 
  width: 100%; 
  vertical-align: bottom 
}

#error_explanation{
  width:40%;
  margin:0 auto;
}

#error_explanation > h2{
  text-align:center;
}

#error_explanation > ul{
  list-style:none;
}

#error_explanation > ul >li{
  text-align:center;
}

#inquiry-header{
  width:40%;
  margin:20px auto;
  padding:0;
  background-color:#F3F3F3;
  border-radius:5px;
}

#inquiry-header h1{
  font-family:ヒラギノ角ゴ ProN W3,Hiragino Kaku Gothic ProN,HiraKakuProN-W3;
  text-align:center;
}

#new_inquiry{
  padding-bottom:150px;
}

.table{
  width:40%;
  margin:20px auto;
  padding:20px 0;
  height:auto;
  border:1px solid #e1e1e1;
  list-style:none;
}

.table > li{
  display:block;
  width:50%;
  height:auto;
  margin:10px auto;
}

#inquiry_name,#inquiry_email{
  width:100%;
  height:30px;
  border:1px solid #e1e1e1;
  border-radius:5px;
  margin-bottom:5px;
}

#inquiry_message{
  width:100%;
  height:60px;
  border:1px solid #e1e1e1;
  border-radius:5px;
}

.box4 { 
  background-color: #e8e8c4 
} 

.box4:after { 
  content: ""; 
  display: block; 
  clear: both 
}

.box4-1 { 
  float: left; 
  width: 32%; 
  margin-right: 2% 
} 
.box4-2 { 
  float: left; 
  width: 32%; 
  margin-right: 2% 
} 
.box4-3 { 
  float: left; 
  width: 32%; 
}

.merit h1 { 
  margin-top: 0; 
  margin-bottom: 0; 
  font-size: 24px 
} 
.merit p { 
  margin-top: 0; 
  margin-bottom: 0 
}

.merit a { 
  display: block; 
  background-color: #222222; 
  color: #ffffff; 
  text-align: center; 
  text-decoration: none 
}

.merit a:hover { 
  opacity: 0.8 
}

/* 左右に隙間を入れる */ 
.boxA, .box4, .box5 { 
  padding-left: 15px; 
  padding-right: 15px 
}

.merit i { 
  display: block; 
  padding-top: 40px; 
  padding-bottom: 40px; 
  font-size: 38px 
}

.merit .fa-heart { 
  background-color: #E8373E 
} 
.merit .fa-television { 
  background-color: #83A300 
} 
.merit .fa-connectdevelop { 
  background-color: #F58723 
}

.merit p { 
  margin-top: 0; 
  margin-bottom: 0; 
  padding-top: 15px; 
  padding-bottom: 15px; 
  background-color: #524e3c; 
  font-size: 12px 
}

.merit a { 
  display: block; 
  backgroung-color: #222222; 
  color: #ffffff; 
  text-align: center; 
  text-decoration: none 
}

.btn{
  display:block;
  margin:0 auto;
}

#footer{
  position:absolute;
  bottom:0;
  display:block;
  vertical-align:baseline;
  margin-top:20px;
  width:100%;
  height:auto;
}

#t-footer{
  margin:0;
  width:100%;
  height:42px;
  background-color:#f3f3f3;
}

#t-footer > p{
  font-family:Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight:bold;
  margin:0;
  padding:4px 0;
  color:black;
  text-align:center;
}

#b-footer{
  margin:0;
  width:100%;
  height:80px;
  background-color:black;
}

#b-footer > p{
  margin:0;
  padding:28px 0;
  color:white;
  text-align:center;
}
